@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #121212;
  --color-light: #fafafa;
}

@layer components {
  .b {
    @apply border-2 border-orange-600;
  }
}

html {
  scroll-behavior: smooth;
  letter-spacing: 0.3px;
}

body {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-position: -200px -330px;
}

.dark {
  background-color: var(--color-dark);
  color: rgb(var(--color-light));
}

.light {
  background-color: var(--color-light);
  color: rgb(var(--color-dark));

  #nprogress .bar {
    background: #15b8a6 !important;
    height: 4px !important;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }
}

::-webkit-scrollbar {
  @apply h-2 w-1 bg-light dark:bg-dark;
}

::-webkit-scrollbar-track {
  @apply rounded-[3px] bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[3px] border-2 border-neutral-300 bg-neutral-600 dark:bg-neutral-400;
}
