@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--jakartaSans-font);
  --font-emoji: Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  --color-dark-text: #eeeeee;
  --color-dark: #121212;
  --color-light: #fafafa;

  --animate-waving-hand: wave 2s linear infinite;
  --animate-flying-card: flying 3s infinite normal;

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes flying {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.8rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility b {
  @apply border-2 border-orange-600;
}

@layer utilities {
  :root {
    --color-dark: #121212;
    --color-light: #fafafa;
  }
}

html {
  scroll-behavior: smooth;
  letter-spacing: 0.3px;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

body {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-position: -200px -330px;
}

.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.light {
  background-color: var(--color-light);
  color: var(--color-dark);

  .bprogress .bar {
    background: #15b8a6;
    height: 4px;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }
}

::-webkit-scrollbar {
  @apply bg-light dark:bg-dark h-2 w-1;
}

::-webkit-scrollbar-track {
  @apply rounded-[3px] bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[3px] border-2 border-neutral-300 bg-neutral-600 dark:bg-neutral-400;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  clip-path: circle(0px at var(--bubble-x) var(--bubble-y));
  animation: grow-bubble 0.6s ease-in-out forwards;
}

@keyframes grow-bubble {
  to {
    clip-path: circle(150% at var(--bubble-x) var(--bubble-y));
  }
}
